<template>
  <div class="constellation-page">
    <Menu class="d-block d-sm-none" />
    <Header class="d-none d-sm-block" />
    <p class="text-white p-4 text-center text-uppercase">Constellation page</p>
  </div>
</template>

<script>
export default {
  name: "IndexPage",
  components: {},
};
</script>