<template>
  <footer class="footer">
    <div class="footer__text">
      <p>© 2022 Copyright - Sb Studioo</p>
    </div>
  </footer>
</template>

<style scoped lang="scss">
.footer {
//   background-color: powderblue;
  height: 10vh;
  text-align: center;
  color: white;
  text-transform: uppercase;

  &__text {
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: center;
  }
}
</style>