<template>
  <section class="gallery-section">
    <div class="top container">
      <h2 class="text-white p-4 text-center text-uppercase font-1">
        Galley Title 1
      </h2>
      <figure class="hero__image">
        <img src="~assets/images/gallery/1/1_1.jpg" />
      </figure>
    </div>
    <div class="gallery__wrapper">
      <div class="gallery__item">
        <img
          class="gallery__img"
          src="~assets/images/gallery/1/1_3.jpg"
          height="400"
        />
      </div>
      <div class="gallery__item">
        <img
          class="gallery__img"
          src="~assets/images/gallery/1/1_2.jpg"
          height="400"
        />
      </div>
      <div class="gallery__item">
        <img
          class="gallery__img"
          src="~assets/images/gallery/1/1_1.jpg"
          height="400"
        />
      </div>

      <div class="gallery__item">
        <img
          class="gallery__img"
          src="~assets/images/gallery/1/1_3.jpg"
          height="400"
        />
      </div>
    </div>
  </section>
</template>

<style scoped lang="scss">
.gallery-section {
  margin-top: 8.5rem;
}

.hero__image {
  width: 100%;
  margin: 0 0 0 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30rem;

  img {
    height: 100%;
  }
}
.gallery {
  &__wrapper {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    row-gap: 2rem;
    width: 90%;
    margin: 3rem auto 2rem;
  }

  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 1.5s cubic-bezier(0.13, 1, 0.32, 1);
    &:hover {
      transform: scale(1.05);
    }
  }

  &__item:nth-child(1) {
    grid-column: 3/6;
  }
  &__item:nth-child(2) {
    grid-column: span 2;
  }
  &__item:nth-child(3) {
    grid-column: 4/6;
    grid-row: 3/4;
  }
  &__item:nth-child(4) {
    grid-column: span 6;
    grid-row: 4/5;
  }

  @media only screen and (max-width: 600px) {
    &__wrapper {
      display: block;
      margin-left: 0rem;
      margin-right: 0rem;
      width: 100%;
    }
    &__item {
      margin-top: 1.4rem;
      height: 350px;
    }
    &__img {
      // width: 100%;
      // height: 50%;
    }
  }
}
</style>
