<template>
  <div class="header font-1 sticky">
    <nav>
      <ul class="header__items">
        <li>
          <nuxt-link to="/constellation">Constellation</nuxt-link>
        </li>
        <li>
          <nuxt-link to="/">SB STUDIOO</nuxt-link>
        </li>
        <li>
          <nuxt-link to="/About">About</nuxt-link>
        </li>
      </ul>
    </nav>
  </div>
</template>

<style lang="scss">

li {
  list-style: none;
}
a{
  text-decoration: none;
  color: white;
  cursor: pointer;
  
  &:hover {
    background-image: url("~/assets/images/line.png");
    background-position: center;
    border: none;
    color: white;
    transition: all 0.3s ease-in-out;
    filter: brightness(0) invert(1);
  }
}

.header {
  // background-color: palegreen;
  font-size: 1.5rem;

  width: 90%;
  height: 10vh;
  z-index: 1;
  margin: 0 auto;
  padding-top: 2.5rem;
  padding-left: 3rem;
  display: block;

  &__items {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
.sticky {
  position: fixed;
  top: 0;
}
</style>