<template>
  <section class="main-section">
    <ul class="main-section__items">
      <li>
        <nuxt-link to="/gallery">Amanda</nuxt-link>
        <div class="image-wrapper">
          <img src="~assets/images/gallery/1/1_1.jpg" alt="" />
        </div>
      </li>
      <li>
        <nuxt-link to="/gallery">Nepal</nuxt-link>
        <div class="image-wrapper">
          <img src="~assets/images/gallery/1/1_4.jpg" alt="" />
        </div>
      </li>
    </ul>
  </section>
</template>
<style scoped lang="scss">
.main-section {
  // background-color: orangered;
  height: 90%;
  &__items {
    display: flex;
    flex-direction: column;
    padding-top: 15rem;
    padding-left: 5rem;
    margin: auto;
    width: 90%;
    margin: 0 auto;
    a {
      font-size: 1.1rem;
      text-transform: uppercase;
    }

    a:hover + .image-wrapper {
      opacity: 1;
    }
  }
  .image-wrapper {
    opacity: 0;
    position: absolute;
    left: 25%;
    top: 25%;
    height: 35rem;
    transition: 1.3s cubic-bezier(0.23, 1, 0.32, 1);

    img {
        height: 100%;
    }
  }
}

</style>