<template>
  <header class="container">
    <div class="menu-title">
      <h2 @click="toggleNav('mainMenu')">MENU</h2>
    </div>
    <nav id="mainMenu">
      <ul>
        <li>
          <nuxt-link to="/">Home</nuxt-link>
        </li>
        <li>
          <nuxt-link to="/constellation">Constellation</nuxt-link>
        </li>
        <li>
          <nuxt-link to="/about">About</nuxt-link>
        </li>
        <li>
          <a href="https://www.instagram.com/sb_studioo/" target="__self" title="Sb studioo instagram">Instagram</a>
        </li>
        <li>
          <a href="https://www.youtube.com/channel/UCrsqe5b6KEagKz3ZT6efY7Q/featured" target="__self" title="Sb studioo youtube">Youtube</a>
        </li>
        <li>
          <nuxt-link to="/">Print</nuxt-link>
        </li>
      </ul>
    </nav>
  </header>
</template>

<script>
export default {
  data() {
    return {
      menuClicked: false,
    };
  },
  methods: {
    updateMenu: function () {
      this.menuClicked = !this.menuClicked;
    },
    toggleNav: function (nav) {
      var navEle = document.getElementById(nav);
      if (!navEle) return;

      if (!navEle.classList.contains("open")) {
        navEle.setAttribute("class", "open");
        return;
      }
      navEle.removeAttribute("class");
    },
  },
};
</script>

<style lang="scss" scoped>

.menu-title {
  color: white;
  padding: 2rem;
  font-family: "Gotham";
}

#mainMenu {
  position: relative;
  float: left;
  display: block;
  width: 0px;
  height: 35vh;
  transition: width 0.2s ease-out;
  text-align: center;
  margin-top: 6rem;
  ul {
    padding: 0;
    margin: 0;
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    overflow: hidden;
    top: 100px;
    opacity: 0;
    transition: top 0s 0.2s linear, opacity 0.1s 0s linear;
    // background-color: blueviolet;
    li {
      position: absolute;
      list-style: none;
      font-size: 1.1rem;
      text-transform: uppercase;
      font-family: "Gotham";

      padding: 10px;
      top: 100%;
      width: 100%;
      transition: top 0s 0.3s linear;
      color: white;
      &.active {
        color: #db0049;
        font-weight: bold;
      }
    }
  }
  &.open {
    width: 100%;
    transition: width 0.3s ease-out;
    ul {
      top: 15%;
      opacity: 1;
      transition: top 0.6s 0.2s cubic-bezier(0.68, 0.2, 0.3, 2);
    }
    li {
      &:nth-child(1) {
        top: 0px;
        transition: top 0.4s 0.1s cubic-bezier(0.68, 0.2, 0.3, 1.15);
      }
      &:nth-child(2) {
        top: 3rem;
        transition: top 0.6s 0.1s cubic-bezier(0.68, 0.2, 0.3, 1.15);
      }
      &:nth-child(3) {
        top: 6rem;
        transition: top 0.8s 0.1s cubic-bezier(0.68, 0.2, 0.3, 1.15);
      }
      &:nth-child(4) {
        top: 9rem;
        transition: top 0.8s 0.1s cubic-bezier(0.68, 0.2, 0.3, 1.15);
      }
      &:nth-child(5) {
        top: 12rem;
        transition: top 0.8s 0.1s cubic-bezier(0.68, 0.2, 0.3, 1.15);
      }
      &:nth-child(6) {
        top: 15rem;
        transition: top 0.8s 0.1s cubic-bezier(0.68, 0.2, 0.3, 1.15);
      }
    }
  }
}
</style>
