html,body, #__nuxt, #__layout
{
    width: 100%;
    height: 100%;
    margin: 0px !important;
    padding: 0px !important;
    overflow-x: hidden; 
    background-color: black !important;
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.7)), url("~/assets/images/overlay.jpg");
    font-family: "Gotham";
}
.font-1 {
    font-family: "Gotham";
}