<template>
  <div class="main-page font-1">
    <Menu class="d-block d-sm-none"/>
    <Header class="d-none d-sm-block"/>
    <Main class="d-none d-sm-block"/>
    <Footer class="d-none d-sm-block"/>
  </div>
</template>

<script>
import Header from "~/components/Header";
import Main from "~/components/Main";
import Footer from "~/components/Footer";
import Menu from "~/components/Menu";

export default {
  name: "IndexPage",
  components: {
    Header,
    Main,
    Footer,
    Menu,
  },
  // data() {
  //   return {
  //     isMobile: false,
  //     windowWidth: null,
  //   };
  // }
};
</script>
<style scoped>
.main-page {
    height: 100%;
    /* background-color: burlywood; */
}
</style>
